binary "https://raw.githubusercontent.com/vaisala-xweather/mapsgl-apple-sdk/v1.0.5/Carthage/MapsGLCore.json" ~> 1.0.5
binary "https://raw.githubusercontent.com/vaisala-xweather/mapsgl-apple-sdk/v1.0.5/Carthage/MapsGLRenderer.json" ~> 1.0.5
binary "https://raw.githubusercontent.com/vaisala-xweather/mapsgl-apple-sdk/v1.0.5/Carthage/MapsGLMaps.json" ~> 1.0.5
