<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is not directly used in any way for any purpose by MapsGL, however MapsGL and Mapbox use CLLocation and related APIs for mapping and thus link to variety of location APIs.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
